<!-- Esse 'header' improvisado leva à página principal de cada modelo (onde poderemos fazer Crud)-->
<span><a href="/">Itens       </a></span><span><a href="/categoria">Categorias       </a></span><span><a href="/autor">Autores       </a></span><span><a href="/editora">Editoras       </a></span>
<br>
<h1>Categoria</h1>
<ul>
  {% for categoria in categorias %}
  <li>
    {{ categoria.name }} - <a href="{% url 'categoria_update' categoria.pk %}">Edit</a> -
    <a href="{% url 'categoria_delete' categoria.pk %}">Delete</a>
  </li>
  {% endfor %}
</ul>
<a href="{% url 'categoria_create' %}">New Categoria</a>
