<h1>Items</h1>
<ul>{% for item in items %}
    <li>
        {{ item.name }} -<a href="{% url 'item_update' item.pk %}">Edit</a> - <a href="{% url 'item_delete' item.pk %}">Delete</a>
    </li>{% endfor %}
</ul>
    <a href="{% url 'item_create' %}">New Item</a>

<h1>Autor</h1>
<ul>{% for autor in autor %}
    <li>
        {{ autor.pk }} -<a href="{% url 'autor_update' autor.pk %}">Edit</a> - <a href="{% url 'autor_delete' autor.pk %}">Delete</a>
    </li>{% endfor %}
</ul>
    <a href="{% url 'autor_create' %}">New Item</a>